<div class="calendar mx-3">
<%= month_calendar events: @records do |date, records| %>
  
  <%= date.day %>

  <% @records.each do |record| %>
   <%if record.created_at.strftime('%Y-%m-%d') == date.strftime('%Y-%m-%d') %> 
    <div>
     <%= link_to record_path(record) do %>
      <%= record.pet.name %>
     <% end %>
    </div>
   <% end %>
  <% end %>
  
<% end %>
</div>

<%= link_to "記録一覧に戻る",record_index_path, class:"btn btn-secondary" %>
