 <%= render 'shared/aboutlink' %>
 
<div class = "container-lg">

<%= link_to new_record_path, class:"btn btn-warning btn-lg btn-block" do %>
 <i class="fas fa-pen"></i>
 記録する
 <i class="fas fa-pen"></i>
<% end %>

<!--<div class="table-responsive">-->
<!-- <table class="table table-light table-striped mt-3">-->
<% @records.each do |record| %>
  <!--<tr>-->
  <!-- <th colspan = "5" >-->
 <div class = "record">
   
  <div>
    <%= record.created_at.strftime('%Y/%m/%d %H:%M') %>
    <%= link_to edit_record_path(record) do %>
     <i class="fas fa-edit"></i>
    <% end %>
   <!--</th>-->
   <!--<th>-->
    <%= image_tag record.pet.get_pet_image(50,50),class:"rounded-circle mx-3" %>
    <%= record.pet.name %>
   </div>
  <!-- </th>-->
  <!--</tr>-->
  
  <!--<tr>-->
  <!-- <td>
  </td>-->
  <div>
    <%= image_tag record.food.get_food_image(50,50) %><%= record.food.name %>
   <!--<td>-->
    <%= record.amount %>
    <!--</td>-->
   <!--<td>-->
   <!--<div class="row" id="collapseParent">-->
   </div>
   <!--モーダルメモ-->
     <a class="btn btn-primary" type="button" data-toggle="collapse" href=<%= "#collapse".concat(record.id.to_s) %>
       aria-expanded="false" aria-controls=<%= "collapse".concat(record.id.to_s) %>>
        memo
    </a>
    <div class="collapse" id=<%= "collapse".concat(record.id.to_s) %> >
     <%= record.memo %>
    </div>
  <!--モーダルメモ-->
  <!-- </td>-->
  <!--</tr>-->
 </div>
 <% end %>

<!-- </table>-->
<!--</div>-->

</div>
