
<%= link_to new_record_path, class:"btn btn-warning btn-lg btn-block" do %>
 <i class="fas fa-pen"></i>
 記録する
 <i class="fas fa-pen"></i>
<% end %>

<!--<= pie_chart Food.group(:name).count %>-->
<div class="table-responsive">
 <table class="table table-light table-striped mt-3">
 
<% @records.each do |record| %>
  <tr>
   <th colspan = "5" ><%= record.created_at.strftime('%Y/%m/%d %H:%M') %></th>
  </tr>
  
  <tr>
   <td><%= record.pet.name %></td>
   <td><%= record.food.name %></td>
   <td><%= record.amount %></td>
   <td><%= record.memo %></td>
   <td>
    <%= link_to edit_record_path(record) do %>
    <i class="fas fa-edit"></i>
    <% end %>
    <%#= link_to record_path(@record) %>
   </td>
  </tr>
 <% end %>

 </table>
</div>



<!--<= link_to 'New Product', new_product_path %>-->

