<div class = "title">
 <h5><strong><%#= @record_pet.pet_id %>XXXちゃんの記録</strong></h5RE>
</div>

<% @record_pet.each do |record| %>
<div>
 <span><%= record.pet.name %></span>
 <span><%= record.food.name %></span>
 <span><%= record.amount %></span>
 <span><%= record.memo %></span>
</div>

<% end %>

<%= link_to "記録一覧に戻る",record_index_path, class:"btn btn-secondary" %>
<%#= link_to "記録を編集する",edit_record_path(@record), class:"btn btn-primary" %>

<%= pie_chart Record.group(:food_id).count %>


