<div class = "title">
 <h3><strong>記録詳細</strong></h3>
</div>

<%= pie_chart Record.group(:food_id).count %>

<%= @record.pet.name %>
<%= @record.food.name %>
<%= @record.amount %>
<%= @record.memo %>

<%= link_to "記録一覧に戻る",record_index_path, class:"btn btn-secondary" %>
<%= link_to "記録を編集する",edit_record_path(@record), class:"btn btn-primary" %>

